OS
.DS_Store
Thumbs.db

Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

Node
node_modules/
.pid
.pnp.
.pnpm-debug.log*

React Native / Metro
.packager/
.bundle/
.metro/
.metro-health-check*
.haul-cache/

Testing and coverage
coverage/

Yarn v2+
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

Build artifacts (root-level)
build/
dist/

Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.iml
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

iOS / Xcode
ios/build/
ios/DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# API secrets and env files
api/secrets/
api/secrets/*.json
api/.env
api/.env.*

# Ignore Pods if not committing them
ios/Pods/

# Ignore vendor folder
vendor/
