<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAajMqkB2XdyDpoUD8RI049mtlSFGjW48s</string>
	<key>GCM_SENDER_ID</key>
	<string>620303538802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MindfulJournal</string>
	<key>PROJECT_ID</key>
	<string>mindfuljournal-c6289</string>
	<key>STORAGE_BUCKET</key>
	<string>mindfuljournal-c6289.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620303538802:ios:8f981621d8d4c596dac0eb</string>
</dict>
</plist>